body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:88px;
  top:40px;
  width:763px;
  height:60px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000033;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:60px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:88px;
  top:110px;
  width:732px;
  height:510px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:510px;
}
#u5 {
  position:absolute;
  left:2px;
  top:247px;
  width:728px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:856px;
  top:40px;
  width:464px;
  height:150px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000033;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:160px;
}
#u7 {
  position:absolute;
  left:2px;
  top:9px;
  width:460px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1040px;
  top:303px;
  width:130px;
  height:115px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:115px;
}
#u9 {
  position:absolute;
  left:2px;
  top:50px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:980px;
  top:265px;
  width:201px;
  height:33px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000033;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:854px;
  top:428px;
  width:467px;
  height:192px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000033;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:192px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:887px;
  top:40px;
  width:364px;
  height:44px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000033;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:44px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:893px;
  top:84px;
  width:402px;
  height:45px;
  font-family:'Arial Negrita Cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:36px;
  color:#000033;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:45px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:940px;
  top:127px;
  width:80px;
  height:78px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:78px;
}
#u19 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1119px;
  top:127px;
  width:91px;
  height:85px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:85px;
}
#u21 {
  position:absolute;
  left:2px;
  top:34px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:832px;
  top:276px;
  width:510px;
  height:47px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000033;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:47px;
}
#u23 {
  position:absolute;
  left:0px;
  top:7px;
  width:510px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:905px;
  top:355px;
  width:318px;
  height:265px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:265px;
}
#u25 {
  position:absolute;
  left:2px;
  top:124px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:887px;
  top:146px;
  width:364px;
  height:43px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000033;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:43px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:88px;
  top:110px;
  width:200px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:880px;
  top:205px;
  width:157px;
  height:61px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:61px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1125px;
  top:208px;
  width:155px;
  height:57px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:57px;
}
#u33 {
  position:absolute;
  left:2px;
  top:20px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
